\.vs\
*.vsidx
.vs/MPS-TrabajoOpcional/v17/.wsuo
*.db-shm
*.opendb
*.ipch
*.db-wal
*.db
*.sqlite
*.json
*.db
*.tlog
*.idb
*.iobj
*.ipdb
*.exp
*.recipe
*.CopyComplete
*.manifest
*.txt
*.testlog
TrabajoOpcional/.vs/TrabajoOpcional/v17/.suo
*.config
*.ipch
*.db
.vs/MPS-TrabajoOpcional/v17/.wsuo
*.sqlite
*.json
